{erl_opts, [debug_info, {i, "include/"}, {parse_transform, lager_transform}]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
    {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
    {mongodb, {git, "git@github.com:comtihon/mongodb-erlang.git", {tag, "v3.0.1"}}},
    {pooler, {git, "git@github.com:seth/pooler.git", {tag, "1.5.2"}}},
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.8.0"}}},
    {jsx, {git, "git@github.com:talentdeficit/jsx.git", {tag, "v2.8.2"}}}
]}.
