[
 %% SASL config
 {sasl, [
         %%{sasl_error_logger, {file, "log/sasl-error.log"}},
         {sasl_error_lager, false},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% lager config
 {lager, [
     {handlers, [
         {lager_console_backend, info},
         {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
         {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
     ]}
 ]},

 %% etheatr config
 {etheatr, [
     {mongodb_host, "192.168.1.123"},
     {mongodb_database, <<"etheatr">>},
     {imdb_api, "https://api.themoviedb.org/3/find/"},
     {imdb_api_key, "e31b772e7ff37cfbf3dac3476a2471da"}
 ]}
].